body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hides horizontal overflow */
  background-color: #eef4ed;
}

.bodyArrangement{
  padding: 30px 0px;
  margin: 0px 80px;
  display: flex;
  gap: 50px;
}

img{
  flex: 2;
  height: auto;
  align-self: flex-start;
  border-radius: 10px;
}

.price_and_information{
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price_quantity{
  display: flex;
  align-items: center;
  gap: 10px;
}

.price{
  font-size: 32px;
}

.add-btn{
  font-size: 24px;
  padding: 5px 15px;
}

/* When the screen width is 768px or smaller */
@media (max-width: 768px) {
  .bodyArrangement {
    flex-direction: column; /* image and text aligns vertically instead of horizontally*/
    margin: 0px 20px;       /* reduces side margins */
    gap: 30px;  /* space between the image and the text*/
    align-items: center;
  }


  img{
    align-self: center;
    width: 80%;
    height: auto;
  }
}