/*reseting the values for body*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hides horizontal overflow */
  background-color: #eef4ed;
}


/* Top bar*/

.top-bar {
  background: #0b2545; color: #fff;
  display: flex; justify-content: space-between;
  padding: 5px 5%; font-size: 12px;

}

.top-right, a{
  color: white;
}

/*Middle bar*/

.main-header {
  background: #134074; /* Signature Yellow */
  padding: 25px 5%;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Search Bar Styling */
.search-container {
  display: flex;
  flex-grow: 1; /* Makes search take up remaining space */
  max-width: 400px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.search-container input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  outline: none;
}

/*Search icon*/
.material-symbols-outlined {
  margin-top: 6px;
  margin-right: 5px;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Bottom navigation bar*/

.bottom-nav {
  background-color: #134074;
  width: 100%;           
  display: flex;      
  justify-content: left;
  padding: 10px 5%;
  font-family: "Fira Sans", sans-serif;
}

/* This styles the links inside the bar */
.bottom-nav a {
  text-decoration: none;
  color: black;          /* Note: Black text on blue is very hard to read! */
  padding: 10px 20px;    /* Space around each link */
  font-weight: 400;
}

/* Optional: Add a hover effect so users know they can click */
.bottom-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.a filter{
  text-align: right;
}


/*font related css*/

h1{
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 50px;
}

.menu-grid{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Aligns items horizontally (Left/Right) */
    align-items: center;     /* Aligns items vertically (Top/Bottom) */
    flex-wrap: wrap;
}

.product-box h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 10px;
    text-align: left;
    padding: 10px 90px 20px 10px;
}

.product-box{
    border: 1px solid #bbb;
    text-align: center;
    transition: transform 0.2s;
    width: 180px;
    height: 300px;
}

.product-box img{
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
    padding: 20px;
}




/*Font related classes*/
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}
